@use 'base';
.about_section{
  display: flex;
  flex-direction: column;
  gap: 2.25rem;

}
.about_section .block {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  width: 70%;
  margin: auto;
  p {
    text-align: center;
  }
}
.profile_image {
  height: 12.5rem;
  width: 12.5rem;
  border-radius: 50%;
  border: .3125rem solid $primary_color;
  overflow: hidden;
}
.icons_block {
  grid-column: 1/-1;
  text-align: center;
}
.all_icons {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  align-items: center;
  justify-content: center;
  gap: 1.25rem;
  padding-top: 1.5rem;
  
  div {
    width: 3.75rem;
    height: 2.5rem;
    align-self: center;
    justify-self: center;
  }
  h2 {
    grid-column: 1/-1;
  }
}
