$primary_color: #354e96;
$secondary_color: #6b7280;
$accent_color: #3b82f6;
$background_color: #f9fafb;
$background-color2: whiteSmoke;
$main_text: #ffffff;
$secondary_text: #e5e7eb;
$hover_color: #182e6e;

// lines copy from forky project

$color-grey-light-1: #f9f5f3; // Light background
$color-grey-light-2: #f2efee; // Light lines
$color-grey-light-3: #d3c7c3; // Light text (placeholder)
$color-grey-dark-1: #615551; // Normal text
$color-grey-dark-2: #918581; // Lighter text


$bp-large: 78.15em; // 78.125rem
$bp-medium: 61.25em; // 61.25rem7
$bp-small: 37.5em; // 37.5rem
$bp-smallest: 31.25em; // 31.25rem
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  box-sizing: border-box;

}
html {
  scroll-behavior: smooth;
}
body {
  background-color: $background-color;
  color:$color-grey-dark-1;
  font-family: 'Rubik', sans-serif;
  line-height: 1;
  font-weight: 400;

}
p{
  line-height: 1.5;
}
h1{
  font-size: 3rem;
}
h2{
  color: $primary_color;
  font-size: 2rem;
}
h3{
  font-size: 1.5rem;
  color: $color-grey-dark-1;
}
a{
  text-decoration: none;
  color: $secondary_text;
  transition: all 0.3s;
  padding: 12px;
  &:hover{
    color: $accent_color;
  }
}
@media screen and (max-width: 70.75rem) {
  html{
    font-size: 80%;
  }
}
@media screen and (max-width: 27.1875rem) {
    h1{
      font-size: 1.5rem;
    }
    h2{
      font-size: 1.125rem;  
    }
    h3{
      font-size: 1rem;
    }
}