.button_primary {
  width: 9.375rem;
  height: 2.8125rem;
  font-size: 1.5rem;
  background-color: $primary_color;
  border: none;
  color: $secondary_text;
  cursor: pointer;
  transition: all 0.3s;

  &:hover {
    background-color: $hover_color;
  }
}
.button_secondary {
  width: 9.375rem;
  height: 2.8125rem;
  font-size: 1.5rem;
  background-color: $secondary_color;
  border: none;
  color: $secondary_text;
  cursor: pointer;
  transition: all 0.3s;
  &:hover {
    background-color: $hover_color;
  }
}
.container {
  margin: 1.5rem 1.5rem 6.125rem 1.5rem;
}
.grid {
  display: grid;
  gap: 1.5rem;
  align-items: center;
}
.grid_col-3 {
  grid-template-columns: 1fr 1fr 1fr;
}
.grid_col-2{
  grid-template-columns: 1fr 1fr;
}
.grid_col-1{
  grid-template-columns: 1fr;
}
.line{
  border: 1px solid $color-grey-light-3;
}
.tag {
  display: inline-block;
  border-radius: 3px;
  padding: .2em .5em .3em;
  border-radius: 2px;
  background: $secondary_color;
  color: white;
  font-weight: 600;
  margin: .25em .1em;
  cursor: default;
  &:hover{
    background-color: $primary_color;
  }
}
.hidden{
  display: none;
}