.contact_section {
  padding: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact_block {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  width: 70%;
}
.contact_description {
  text-align: center;
}
.contact_links {
  display: flex;
  gap: 24px;
}
