.contact_section {
  padding: 24px;
  .contact_block {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    width: 70%;
    margin: auto auto 30px auto;
    .contact_description {
      text-align: center;
    }
    .contact_links {
      display: flex;
      gap: 24px;
    }
  }
}
