// *NAVIGATION BAR SETTINGS
.nav_bar {
  background-color: $primary_color;
  height: 3.75rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.5rem;
}
.logo {
  color: $main_text;
  font-family: serif;
  font-size: 1.875rem;
}
.nav_list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.menu_button{
  background-color: transparent;
  border: none;
  display: none;
}
.overlay_model{
  background-color: $secondary_text;
  display: flex;
  align-items: center;
  padding: 36px;
  justify-content: center;
  height: calc(100vh - 60px);
  position: absolute;
  z-index: 3;
  width: 100%;
  font-size: 40px;
  ul{
    display: flex;
    flex-direction: column;
    gap: 60px;
    list-style: none;
    text-align: center;
  }
  a{
    color: $primary_color;
    &:hover{
      color: $accent_color;
    }
  }
}

