.hero_section {
  // border: 0.0725rem solid $accent_color;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $color-grey-light-2;
  color: $primary_color;
  height: 70vh;
  overflow: hidden;
  position: relative;
  // //for responsive
}

.hero_description {
  display: flex;
  flex-direction: column;
  margin-right: -18.75rem;
  padding-left: 3.375rem;
  gap: 12px;
  z-index: 2;
  h1 {
    line-height: 1;
  }
  button{
    margin-top: 16px;
  }
}
.hero_image {
  -webkit-clip-path: polygon(40% 0, 100% 0, 100% 100%, 0 100%);
  clip-path: polygon(40% 0, 100% 0, 100% 100%, 0 100%);
  width: 70vw;
  filter: brightness(0.5);

  // object-fit: cover;
}
