// *NAVIGATION SECTION
@media screen and (max-width: 31rem) {
  .nav_list {
    display: none;
  }
}
// *ABOUT SECTION
@media screen and (max-width: 35.125rem) {
  .all_icons {
    grid-template-columns: repeat(7, 1fr);
  }
}
@media screen and (max-width: 26.5625rem) {
  .all_icons {
    grid-template-columns: repeat(5, 1fr);
    div:last-child {
      display: none;
    }
  }
  .about_section .block {
    width: 100%;
  }
}
// *SKILLS SECTION

@media screen and (max-width: 56.375rem) {
  .grid.grid_col-2 {
    grid-template-columns: 1fr;
    justify-content: center;
    gap: 1.875rem;
  }
  .skill_description {
    padding-bottom: 6.25rem;
  }
  .skills_container {

    > div {
      &:nth-child(2) {
        grid-row: 1/2;
      }

      &:nth-child(6) {
        grid-row: 5/6;
      }
    }
  }
  .skill_image:nth-child(n) {
    justify-self: center;
  }
}
@media screen and (max-width: 23.4375rem) {
  .skill_description {
    padding-bottom: 0;
  }
  .grid {
    padding: 0;
  }
}
// *PROJECTS SECTION
@media screen and (max-width: 56.375rem) {
  .grid.grid_col-3 {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 35rem) {
  .grid.grid_col-3 {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media screen and (max-width: 34.4375rem) {
  .feedback_form {
    width: 90%;
  }
}
@media screen and (max-width: 26.5625rem) {
  .feedback_form {
    gap: .75rem;
    width: 100%;
    > div {
      grid-column: span 2;
    }
    > div:has(> label) {
      align-self: end;
    }
  }
  .section_description {
    width: 100%;
  }
}
