

@media screen and (max-width: 64rem) {
  .hero_image {
    transform: scale(1.2);
  }
  html {
    font-size: 80%;
  }
}
@media screen and (max-width: 59.75rem) {
  .grid.grid_col-2 {
    grid-template-columns: 1fr;
    justify-content: center;
    gap: 1.875rem;
  }
  .skill_description {
    padding-bottom: 6.25rem;
  }
  .skills_container {
    > div {
      &:nth-child(2) {
        grid-row: 1/2;
      }

      &:nth-child(6) {
        grid-row: 5/6;
      }
    }
  }
  .skill_image:nth-child(n) {
    justify-self: center;
  }
  .grid.grid_col-3 {
    grid-template-columns: repeat(2, 1fr);
  }
  .hero_section {
    max-height: 25rem;
  }
  .hero_description {
    position: absolute;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1.5rem;
    h1 {
      color: $secondary_text;
    }
    h3 {
      color: $secondary_text;
    }
  }
  .hero_image {
    width: 100vw;
    // transform: translateX(20%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}

@media screen and (max-width: 35.125rem) {
  .all_icons {
    grid-template-columns: repeat(7, 1fr);
  }
  .grid.grid_col-3 {
    grid-template-columns: repeat(1, 1fr);
  }
  .hero_image {
    transform: scale(1.5);
  }
}
// small screen media
@media screen and (max-width: 31rem) {
  p.section_description {
    width: 95%;
  }
  .nav_list {
    display: none;
  }
  .menu_button {
    display: block;
  }

  .feedback_form {
    width: 90%;
  }
  .overlay_model {
    background-color: $secondary_text;
    display: flex;
    align-items: center;
    padding: 2.25rem;
    justify-content: center;
    height: 100vh;
    position: fixed;
    top: 0;
    z-index: 3;
    width: 100%;
    font-size: 1.625rem;
    opacity: 1;
    transition: all 0.3s;
    ul {
      display: flex;
      flex-direction: column;
      gap: 3.75rem;
      list-style: none;
      text-align: center;
    }
    a {
      color: $primary_color;
      &:hover {
        color: $accent_color;
      }
    }
  }
  .overlay_model-effect {
    opacity: 1;
  }
}

@media screen and (max-width: 26.5625rem) {
  .all_icons {
    grid-template-columns: repeat(5, 1fr);
    div:last-child {
      display: none;
    }
  }
  .about_section .block {
    width: 100%;
  }
  .feedback_form {
    gap: 0.75rem;
    width: 100%;
    > div {
      grid-column: span 2;
    }
    > div:has(> label) {
      align-self: end;
    }
  }
  .section_description {
    width: 100%;
  }
  h1 {
    font-size: 1.5rem;
  }
  h2 {
    font-size: 1.125rem;
  }
  h3 {
    font-size: 1rem;
  }
}

@media screen and (max-width: 24.375rem) {
  .skill_description {
    padding-bottom: 0;
  }
  .grid {
    padding: 0;
  }
  .hero_section {
    max-height: 30vh;
  }
  .button_primary,
  .button_secondary {
    width: 6.375rem;
    height: 1.8125rem;
    font-size: 1rem;
  }
}

//* target screen larger than 760px
@media screen and (min-width: 90rem) {
  html {
    font-size: 120%;
  }
  .hero_section img {
    width: 70vw;
  }
}
@media screen and (min-width: 160rem) {
  html {
    font-size: 200%;
  }
}